<div id="graphique" style="width:70%; margin-left: auto; margin-right: auto;">
    <pre>{{cercle.data()}}</pre>
    <input type="number" ng-model="r1" ng-change="majRayon()">
    <input type="number" ng-model="r2" ng-change="majRayon()">
    <input type="number" ng-model="r3" ng-change="majRayon()">
    <svg width="720" height="120">
        <circle cx="40" cy="60" r="10"></circle>
        <circle cx="80" cy="60" r="10"></circle>
        <circle cx="120" cy="60" r="10"></circle>
    </svg>
</div>