<!DOCTYPE html>
<html ng-app="collectify">
    <head>
        <meta charset="UTF-8">
        <!-- /vendor-->
        <script src="vendor/angular/angular.js"></script>
    </head>
    <body>
        <div id="creationDElements" ng-controller="creerElement">
            <h1>Nouvel élément à créer</h1>
            <pre>{{element}}</pre>
            <form ng-submit="ajouter(element);">
                auteur : <input type="text" ng-model="element.auteur" name="auteur"/>
                titre : <input type="text" ng-model="element.titre" name="titre"/>
                date création : <input type="date" ng-model="element.creeLe" name="creeLe"/>
                <input type="text" ng-model="element.description" name="description"/>
                <button type="submit">Ajouter</button>
            </form>
        </div>

        <div id="elements" ng-controller="elementsController" >
            <div ng-repeat="element in elements">
                <p>#{{$index}} : Elément {{element.titre}} publié par {{element.auteur}} publié le {{element.creeLe}} <span ng-if="element.description">: {{element.description}}</span></p>
            </div>
        </div>
        <script type="application/javascript">
            var app=angular.module('collectify',[]);
            var elements=[
                {
                    auteur:'foo',
                    titre:'fooo',
                    creeLe:'...'
                },
                {
                    auteur:'bar',
                    titre:'barrr',
                    creeLe:'...'
                },
                {
                    auteur:'baz',
                    titre:'bazzz',
                    creeLe:'...'
                }
            ];

            app.controller('creerElement', function ($scope) {
                $scope.element={
                    auteur:null,
                    titre:null,
                    creeLe:null
                };

                $scope.ajouter = function (element) {
                    elements.push(element);
                    //détachement du bind
                    $scope.element={};
                };
            })
            .controller('elementsController', function ($scope) {
                $scope.elements=elements;
            });
        </script>
    </body>
</html>