<div id="elements" class="panel panel-primary" style="width:70%; margin-left: auto; margin-right: auto;" >
    <div class="panel-heading"><h2 class="panel-title">Livres</h2></div>
    <div>
        Filtre : <input type="text" ng-model="filtre"><br/>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Elément</th>
                    <th>Publié par</th>
                    <th>Publié le</th>
                    <th>Description</th>
                    <th>Prix</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tr ng-repeat="element in elements | filter:filtre">
                <td>{{$index}}</td>
                <td>{{element.titre}}</td>
                <td>{{element.auteur}}</td>
                <td>{{element.creeLe}}</td>
                <td>{{element.description}}</td>
                <td>{{element.prix | currency}}</td>
                <td><a href="#/elements/{{element._id}}" class="btn btn-success">Editer</a></td>
            </tr>
        </table>
    </div>
</div>